{{!--
    adapt-gmcq
    Copyright (C) 2015 Bombardier Inc. (www.batraining.com)
    https://github.com/BATraining/adapt-gmcq/blob/master/LICENSE

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
--}}
<div class="gMcq-inner component-inner clearfix" role="region" aria-label="{{_globals._components._gMcq.ariaRegion}}" {{#if _accessibility._ariaRegions.gMcq}}tabindex="0"{{/if}}>
    {{> component this}}
    <div class="gMcq-widget component-widget clearfix {{#unless _isEnabled}} disabled {{#if _isInteractionComplete}} complete submitted show-user-answer {{#if _isCorrect}}correct{{/if}} {{/if}} {{/unless}}">
        {{#each _items}}
        <div class="gMcq-item component-item {{#unless ../_isEnabled}} {{#if _isCorrect}}correct{{else}}incorrect{{/if}} {{/unless}} item-{{@index}} {{odd @index}}">
            <input type="checkbox" id="{{../_id}}-{{@index}}" aria-labelledby="{{../_id}}-{{@index}}-aria"/>
            <label aria-hidden="true" id="{{../_id}}-{{@index}}-aria" for="{{../_id}}-{{@index}}" class="component-item-color component-item-text-color component-item-border {{#if _isSelected}}selected{{/if}}">

                <img src="{{_graphic.src}}" alt="{{_graphic.alt}}" data-large="{{_graphic.large}}" data-small="{{_graphic.small}}"/>

                <div class="gMcq-item-checkbox">
                    <div class="gMcq-item-state">
                        <div class="gMcq-item-icon gMcq-answer-icon {{#if ../_isRadio}}radio{{else}}checkbox{{/if}} icon"></div>
                        <div class="gMcq-item-icon gMcq-correct-icon icon icon-tick"></div>
                        <div class="gMcq-item-icon gMcq-incorrect-icon icon icon-cross"></div>
                    </div>
                    <div class="gMcq-item-inner h5">
                        {{{text}}}
                    </div>
                </div>
            </label>
        </div>
        {{/each}}
    </div>
    <div class="buttons">
    </div>
</div>
